In [83]:
import pandas as pd
import numpy as np

In [ ]:
# #download csv file
# import os
# from urllib.request import urlretrive

# file name = 'landcover_chips.csv'
# url = ("https://hamedalemo.github.io/advanced-geo-python/_downloads/ee367188570520ae0594.......")

# if os.path.isfile(filename):
#     print(f"{filename} already exists"})
# else
#     urlretrieve(url, filename)

In [34]:
data = pd.read_csv('landcover_chips.csv')

In [35]:
df = pd.DataFrame(data)

In [36]:
df.dtypes

id            int64
landcover    object
datetime     object
dtype: object

In [37]:
df.datetime

0      2017-09-06T10:10:19+0000
1      2018-02-05T10:02:11+0000
2      2017-12-01T11:24:31+0000
3      2018-05-09T09:20:29+0000
4      2017-10-02T11:21:12+0000
                 ...
245    2018-05-27T09:30:41+0000
246    2017-10-02T11:21:12+0000
247    2017-09-05T09:50:31+0000
248    2017-11-01T09:41:32+0000
249    2017-08-31T09:50:29+0000
Name: datetime, Length: 250, dtype: object

In [39]:
t = df
t['datetime'] = pd.to_datetime(df['datetime']) #, format='%Y:%M:   %d%b%Y:%H:%M:%S.%f'
t

#df['datetime'] = pd.to_datetime(t['datetime'], format='%Y-%m-%dT%H:%M:%S+0000', utc=True)
# type(df['datetime'][1])

,id,landcover,datetime
0,1,"[""Sea and ocean""]",2017-09-06 10:10:19+00:00
1,2,"[""Discontinuous urban fabric"", ""Coniferous for...",2018-02-05 10:02:11+00:00
2,3,"[""Sea and ocean""]",2017-12-01 11:24:31+00:00
3,4,"[""Pastures"", ""Complex cultivation patterns"", ""...",2018-05-09 09:20:29+00:00
4,5,"[""Non-irrigated arable land"", ""Pastures"", ""Lan...",2017-10-02 11:21:12+00:00
...,...,...,...
245,246,"[""Mineral extraction sites"", ""Non-irrigated ar...",2018-05-27 09:30:41+00:00
246,247,"[""Pastures"", ""Broad-leaved forest"", ""Transitio...",2017-10-02 11:21:12+00:00
247,248,"[""Mixed forest"", ""Transitional woodland/shrub""]",2017-09-05 09:50:31+00:00
248,249,"[""Land principally occupied by agriculture, wi...",2017-11-01 09:41:32+00:00
249,250,"[""Non-irrigated arable land"", ""Broad-leaved fo...",2017-08-31 09:50:29+00:00

In [49]:
t.dtypes

id                         int64
landcover                 object
datetime     datetime64[ns, UTC]
dtype: object

In [74]:
filt = t[(t['datetime'] > '2017-01-01 00:00:00') & (t['datetime'] < '2017-12-31 11:59:59')]
print("The number of rows: ", filt.shape[0])

# t0 = pd.Timestamp("2017-01-01T00:00:00Z")
# t1 = pd.Timestamp("2017-12-31T11:59:59Z")

The number of rows:  140

In [1]:
from matplotlib import pyplot as plt

In [2]:
t['datehour'] = t['datetime'].dt.hour

NameError: name 't' is not defined

In [ ]:
fix, ax = plt.subplots(figure-(5,5))
ax.bar(t...

In [ ]:
#in jupyter lab, go to the environment.yml file and add any new desired libraries
# then go to WSL
# conda env update -f environment.yml  (I may need to do the update on jupyter, then shutdown so that i can switch into my
# desired environment!!)

In [ ]:
### His aproach

In [ ]:
from ast import literal_eval

In [ ]:
t['landcover'] = t['landcover'].apply(literal_eval)

In [ ]:
exploded_lc = t.explode('landcover', ignore_index = True)['landcover']

In [ ]:
unique_lc_classes = list(exploded_lc.unique())

In [ ]:
print(f"This is the list of unique land cover options in the file: {filename} \n {unique_lc_classes}")

In [ ]:
### My aproach

In [ ]:
z = t['landcover'].unique()
z

flattened_array = np.array(z).flatten()
unique_strings = np.unique(flattened_array)